<head>
    <script src="https://testingcf.jsdelivr.net/npm/vue/dist/vue.global.prod.js"></script>
    <link rel="stylesheet" href="https://testingcf.jsdelivr.net/npm/tdesign-vue-next/dist/tdesign.min.css" />
    <script src="https://testingcf.jsdelivr.net/npm/tdesign-vue-next/dist/tdesign.min.js"></script>
    <script src="https://testingcf.jsdelivr.net/npm/dayjs/dayjs.min.js"></script>
    <link rel="stylesheet" href="https://testingcf.jsdelivr.net/gh/grantting/my-template/main.css">
</head>

<div id="app">
    <div class="verticalCenter">
        <t-card class="multiline responsive-width" :bordered="false">

            <div v-if="templateType == 1">
                <p v-html="question" class="extraLargeFontSize"></p>
            </div>

            <div v-else-if="templateType == 2">

                <p class="extraLargeFontSize">
                    <span v-for="(item, index) in completionText" :key="index">
                        <span v-if="item.match(/^填空\d+$/)">
                            <text v-html="fillInBlankContent[item.substring(2)-1]"
                                style="margin-top: 1rem; font-weight: bolder; color: #d54941;"></text>
                        </span>
                        <text v-else v-html="item"></text>
                    </span>
                </p>
            </div>

            <p style="margin-top: 24px;">
                <t-space>
                    <span v-for="tag in tags" :key="tag">
                        <t-tag variant="outline">
                            <span v-html="tag"></span>
                            <template #icon>
                                <t-icon name="discount" color="#0052D9"></t-icon>
                            </template>
                        </t-tag>
                    </span>
                </t-space>
            </p>

            <template #actions>
                <t-tag variant="outline">
                    <template #icon>
                        <t-icon name="alarm" />
                    </template>
                    <p v-html="countdown"></p>
                </t-tag>
            </template>
            <template #title>
                <t-space size="4px" align="center">
                    <t-icon name="questionnaire" color="#0052D9"></t-icon>
                    <span>问题</span>
                </t-space>
            </template>
        </t-card>
    </div>

    <div style="margin-top: 12px;"></div>

    <!--答案和解析 -->
    <div v-if="templateType == 1" class="verticalCenter">
        <t-card class="multiline responsive-width" :bordered="false" hoverShadow="false" class="multiline">
            <p>
                <text v-html="answer" class="extraLargeFontSize"></text>
            </p>
            <div v-if="parsing != ''">
                <t-divider>解析</t-divider>
                <p><text v-html="parsing"></text></p>
            </div>

            <template #title>
                <t-space size="4px" align="center">
                    <t-icon name="chat-checked" color="#2ba471"></t-icon>
                    <span>答案</span>
                </t-space>
            </template>
        </t-card>

    </div>

    <div style="display: none;">
        <div ref="questionField">哪些工作人民警察不得少于二人，并需表明执法身份？</div>
        <div ref="answerField">进行询问、辨认、检查、勘验，实施行政强制措施等调查取证工作</div>
        <div ref="parsingField"></div>
        <div ref="deckNameField">2024/12/30::123</div>
        <div ref="tagsField">123-456</div>
        <div ref="templateField"></div>
        <div ref="isBack">1</div>
        <!-- <div ref="questionField">{{问题}}</div>
        <div ref="answerField">{{答案}}</div>
        <div ref="parsingField">{{解析}}</div>
        <div ref="deckNameField">{{Deck}}</div>
        <div ref="tagsField">{{Tags}}</div>
        <div ref="templateField">{{模板类型-1问答/2填空/3单选/4多选/5材料}}</div>
        <div ref="isBack">1</div> -->
    </div>
</div>

<script type="module">
    const { createApp, ref, onMounted } = Vue;

    const app = createApp({
        setup() {
            const question = ref('');
            const questionField = ref('');
            const answerField = ref('');
            const answer = ref('');
            const completionText = ref([]);
            const parsingEmptyContentArray = ref([]);
            const placeholderUnderline = ref([]);
            const tags = ref([]);
            const tagsField = ref('');
            const countdown = ref('');
            const deckNameField = ref('');
            const templateType = ref('')
            const templateField = ref('')
            const parsingField = ref('')
            const parsing = ref('')
            const isBack = ref('')
            const fillInBlankContent = ref([])

            // 设置模板类型
            const setTemplateType = () => {
                templateType.value = templateField.value.innerHTML || '1';
            }

            // 提取公共逻辑
            const getQuestionHtml = () => questionField.value.innerHTML;

            // 获取问题内容
            const getQuestionContent = () => {
                const html = getQuestionHtml();
                const parts = html.split(/(【.+?】)/);
                let fillInBlankCounter = 1;
                for (let i = 0; i < parts.length; i++) {
                    if (/^【.+?】$/.test(parts[i])) {
                        parts.splice(i, 1, `填空${fillInBlankCounter}`);
                        fillInBlankCounter++;
                    }
                }
                completionText.value = parts;
            };

            // 解析填空
            const getParseFillInBlankContent = () => {
                const regex = /【(.*?)】/g;
                let match;
                while ((match = regex.exec(questionField.value.innerHTML)) !== null) {
                    parsingEmptyContentArray.value.push(match[1]);
                }

                const emptyCount = parsingEmptyContentArray.value.length;
                placeholderUnderline.value = Array(emptyCount).fill(" [···] ");
            }

            const clickToDisplay = (string) => {
                let latexPattern = /(?:\\[a-zA-Z]+\{.*?\}|\$.*?\$|\\\(|\\\)|\\\[[^\]]*?\\\])/g;
                const num = string.substring(2) - 1

                if (placeholderUnderline.value[num] === parsingEmptyContentArray.value[num]) {
                    placeholderUnderline.value[num] = " [···]"
                } else {
                    if (parsingEmptyContentArray.value[num].match(latexPattern) && parsingEmptyContentArray.value[num].match(latexPattern).length > 0) {
                        setTimeout(console.log('123 :>> ', 123), 0);
                        // 调用anki的内置js函数
                        // setTimeout(MathJax.typesetPromise, 0);
                    }
                    placeholderUnderline.value[num] = parsingEmptyContentArray.value[num]
                }
            }

            const setFillInBlank = () => {
                completionText.value = questionField.value.innerHTML.split(/(【.+?】)/);

                let fillInBlankCounterNum = 1;
                for (let i = 0; i < completionText.value.length; i++) {
                    if (/^【.+?】$/.test(completionText.value[i])) {
                        fillInBlankContent.value.push(completionText.value[i].substring(1, completionText.value[i].length - 1))
                        completionText.value.splice(i, 1, `填空${fillInBlankCounterNum}`);
                        fillInBlankCounterNum++;
                    }
                }
            }

            // 设置标签
            const setTags = () => {
                tags.value = tagsField.value.innerText.split('-');
            };

            // 计算倒计时
            const calculateCountdown = () => {
                const dateString = deckNameField.value.innerHTML.split('::')[0];
                const targetDate = dayjs(dateString, 'YYYY/MM/DD');
                const today = dayjs();
                const remainingDays = targetDate.diff(today, 'day');
                countdown.value = `${remainingDays}天`;
            };

            onMounted(() => {
                setTemplateType()
                if (templateType.value == 1) {
                    question.value = getQuestionHtml();
                }
                answer.value = answerField.value.innerHTML
                parsing.value = parsingField.value.innerHTML


                if (templateType.value == 2 && isBack.value.innerHTML != 1) {
                    getQuestionContent();
                    getParseFillInBlankContent();
                } else {
                    setFillInBlank()
                }

                calculateCountdown();
                setTags();

            });

            return {
                question,
                questionField,
                completionText,
                placeholderUnderline,
                parsingEmptyContentArray,
                clickToDisplay,
                tags,
                tagsField,
                countdown,
                deckNameField,
                templateType,
                templateField,
                setTemplateType,
                getQuestionContent,
                getParseFillInBlankContent,
                parsing,
                parsingField,
                answer,
                answerField,
                isBack,
                fillInBlankContent,
                setFillInBlank,
            };
        }
    });

    app.use(TDesign).mount('#app');
</script>